<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Thomas Vandalovsky</h1>
        <p>Bio and Fact sheet</p>
    </div>

<div class="row">

  <div class="col-6 centered bg-secondary text-warning">
    <h4>
      Bio
    </h4>
    <p>
      I am a rising Junior at Brandeis currently majoring in Computer Science and Economics.
      I am a research assistant for Professor Gary Jefferson in the Economics
      department and my interests are video games, math, and watching sports.
    </p>
    <p>
      I grew up in New Jersey and have lived there since I was 6 years old.
    </p>
<!--
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Lincoln Nebraska</li>
        <li> Albuquerque, NM</li>
        <li> Las Cruces, NM</li>
      </ul>
-->
    <h4>
      Websites I like
    </h4>
    <ul>
      <li> <a href="http://www.brandeis.edu">Brandeis</a></li>
      <li> <a href="https://github.com/tvandalovsky">My GitHub</a></li>
      <li> <a href="https://www.youtube.com/watch?v=5qap5aO4i9A"> Music I Study to </a></li>
    </ul>

    <h4>
      Movies and TV shows I like
    </h4>
    <p> (in no particular order) </p>
    <table style="width:100%">
      <tr>
        <th>Movies</th>
        <th>TV Shows</th>
      </tr>
      <tr>
        <td>Taxi Driver</td>
        <td>Game of Thrones</td>
      </tr>
      <tr>
        <td>The Big Short</td>
        <td>The Sopranos</td>
      </tr>
      <tr>
        <td>Reservoir Dogs</td>
        <td>Love Death and Robots</td>
      </tr>
    </table>
</div>

  <div class="col-6 centered">
    <img src="/images/ThomasPhoto.jpg" width = 400%>
     width="100%" alt="photo of Thomas Vandalovsky" >
  </div>

</div>

<!--
<div class="row">
  <div class="col bg-primary">
    primary
  </div>
  <div class="col">
    This is a column .....<br><br>Cool!
  </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
</div>
-->

 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
