<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Answer Page</h1>
</div> <br>
<h4> The answer presented by the user is: </h4> <br>
<hr>
<%= locals.answer %>
<hr>


<%- include('bootfooter') -%>
