<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Brandeis Overflow Demo</h1>
</div>

<form method="post" action="/questiondemo" class="bg-secondary text-warning">
  Enter your name/username:
  <input type="text"
         name="fullname"
         placeholder="your full name/user name"><br>
  Enter current date?
  <input type="date"
         name="currentDate"><br>

  What is your current grade
  <select name="grade">
    <option>freshman</option>
    <option>sophomore</option>
    <option>junior</option>
    <option>senior</option>
  </select>
  <hr>

 What category does this question fall into:<br>
  Economics <input type="checkbox" name="catagory" value=" Economics"><br>
  Computer Science  <input type="checkbox" name="catagory" value=" Computer Science"><br>
  Math <input type="checkbox" name="catagory" value=" Math"><br>
  Physics <input type="checkbox" name="catagory" value=" Physics"><br>
  Chemistry <input type="checkbox" name="catagory" value=" Chemistry"><br>
  Biology <input type="checkbox" name="catagory" value=" Biology"><br>
  History <input type="checkbox" name="catagory" value=" History"><br>
  English <input type="checkbox" name="catagory" value=" English"><br>
  Language <input type="checkbox" name="catagory" value=" Language"><br>
  Student Life <input type="checkbox" name="catagory" value=" Student Life"><br>
  General <input type="checkbox" name="catagory" value=" General"><br>
  <br>
  Please write your question here:<br>
  <textarea name="question" rows="10" cols="40"></textarea>
  <br>
  <hr>

  <input type="submit" value="Submit Question Here">
</form>

<hr>

<%- include('bootfooter') -%>
