<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Just a cute random dog picture :)</h1>

</div> <br>
<img src="<%=locals.dogimage%>" alt="Random Dog Photo" width="50%">
<br>



<%- include('bootfooter') -%>
