<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Brandeis Question and Answer App</h1>
  <p> For In and Out of Class Questions! </p>
</div>

<div class = "row">
  <div class="col">
    <p> Inspired from <a href="https://stackoverflow.com/">Stack Overflow</a>,
    <a href="https://mathoverflow.net/">MathOverflow</a>, and
    <a href="https://stackexchange.com/">StackExchange</a>. I want to design
    a Q and A web application for Brandeis where users can post questions in any
    category and have different users provide answers. Also, the user asking the
    question can select the best answer provided. </p>
    <img width="600" src="/images/BrandeisIcon.png">
  </div>
  <div class="col">
    <img width="350" src="/images/MathOF.png" class = "img-thumbnail">
    <img width="200" src="/images/StackOF.jpg"class = "img-thumbnail">
  </div>
</div>


<%- include('bootfooter') -%>
