<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Brandeis Overflow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">page</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/demo">Question Page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About The Author</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dogAPI">Random Dog API</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/q">New Question</a>
      </li>


<!--
      <li class="nav-item">
        <a class="nav-link" href="/form">Form Demo Page</a>
      </li>
-->
<!--
      <li class="nav-item">
        <a class="nav-link" href="/c19">Covid-19 API demo</a>
      </li>
-->
<!--
      <li class="nav-item">
        <a class="nav-link" href="/omelet">Recipe API demo</a>
      </li>
-->

    </ul>


  </div>
</nav>
